html,body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #f9f9f9;
  height: 100%;
}
.pokePage{
  display: none;
  flex-flow: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.header{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0 auto; 
  justify-content: space-evenly; 
  align-items: center; 
  border-bottom:2px solid lightgray;
  margin-bottom:5rem
}
.spinnerBox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(212, 212, 153,0.7);
}
.spinner {
  height: 300px;
  width: 300px;
  background-size: cover;
  background: transparent;
  border-radius: 50%;
  border: 10px solid white;
  border-top-color: red;
  animation: rotateSpinner 1s linear infinite, changeColor 1s linear infinite;
}

@keyframes rotateSpinner {
  from {
      transform: rotate(0deg)
  }
  to {
      transform: rotate(360deg)
  }
}

@keyframes changeColor {
  from {
      border-top-color: red;
  }
  to {
      border-top-color: green;
  }
}
.searchBar{
  margin: 0 auto;
  display: flex;
  width: 60%;
  flex-flow: row;
  justify-content: space-around;
  margin-bottom: 3rem;

}
.searchBox{
  width: 70%;
  font-size: 14px;
  height: 2rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 2px;
}
.searchBar>button {
  border-radius: 5px;
  font-size: 14px;
  width: 16%;
  padding: 2px;
  border: 2px solid rgb(181, 181, 76);
}

.searchBar>button:hover{
  background: rgb(181, 181, 76);
  font-weight: 700;
}
.container{
  display: flex;
  flex-flow: column;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  border: 1px solid lightgray;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 2px 2px lightgrey;
  margin-bottom: 16px;
  justify-content: space-between;
  background: white;
 
}
.cardImage {
  background: rgb(212, 212, 153);
  width: 400px;
  height: 300px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.cardImage:hover>.bio{
  visibility: visible;
  flex-flow: column;
  font-weight: 700;
}
.cardImage>img{
  height: 245px;
}
.bio {
  display: flex;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  text-align: left;
  height: 300px;
  background: rgba(212, 212, 153,0.7);
  width: 400px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  font-size: 14px;
  padding-top: 2%;
  padding-left: 2%;
  line-height: 2rem;
  align-content: center;
  color: black;
  text-align: left;
  text-transform: capitalize;

}
.bio>span {
  margin-bottom: 1%;
}
#evoluations {
  line-height: 5px;
  font-weight: 900;
}
#evoluations>p {
  margin-left: 0.5rem;
  line-height: 12px;
  font-weight: 100;
  font-size: 13px;
}
.desc{
  line-height: 1.7rem;
  display: flex;
  flex-flow: column;
  width: 45%;
  padding-top: 5px;
  font-family: 'Robot',sans-serif;
  justify-content: space-evenly;
}
.desc>span {
  font-size: 20px;
  color: #504747;
}